<!DOCTYPE html>   
<html>   
<head>  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<style>   
Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: pink;  
}  
button {   
       background-color: #4CAF50;   
       width: 100%;  
        color: orange;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
 form {   
        border: 3px solid #f1f1f1;   
    }   
    input[type=email], input[type=password] {  
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }   
  .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
    }   
        
     
 .container {   
        padding: 25px;   
        background-color: lightblue;  
    }   
</style>   
</head>    
<body>    
    <center> <h1> Login Form </h1> </center>   
    <form action="/login" method="POST">
        <div class="container">
        
  
        
              <% if (error === "Incorrect credentials") { %>
               <p> Incorrect Credentials, Please give correct Credentials</p>
              <% } %>
                <label for="email">EmailId</label>
                <input type="email" placeholder="Enter Your Email" name="email" id="email" required><br><br>
        
                <label for="Password">Password</label>
                <input type="Password" placeholder="Enter Password" name="Password" id="Password" required>
               <!-- <div class="error-message">Password is a required field.</div><br>-->
                <p>Please select Login Type:</p>
        
                <input type="radio" id="user" name="loginType" value="user">
                <label for="user">User</label>
                <input type="radio" id="admin" name="loginType" value="admin">
                <label for="admin">Admin</label><br>
        
                <button type="submit">Login</button><br><br>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me<br><br>
                </label>
            </div>
          </form>
          <form action="/">
            <div class="container" style="background-color:#f1f1f1">
                <a href="/"><button type="button" class="cancelbtn">Cancel</button></a>
        
            </div>
          </form>           
          