welcome to mobile page 
<% if (model=== 'Galaxy s22') { %>
  <h1> model number of <%= title %> is <%= model %> </h1>
    <%  } else { %>
      <h1> model number of <%= title %> is not mentioned </h1>
      <% } %>


