welcome to shoes page 
<% if (company=== 'Bata') { %>
  <h1> company of <%= title %> is <%= company %> </h1>
    <%  } else { %>
      <h1> company of <%= title %> is not mentioned </h1>
      <% } %>

