<form action="/addNewData" method="POST">
    <!-- Creating the parameter Username as type= "text"-->
    <label>Name: </label>
    <input type="text" placeholder=" Enter your Name" name="name"><br><br>

    <!-- Creating the parameter Email as type= "text"-->
    <label>City: </label>
    <input type="text" placeholder="City" name="city"><br><br>

    <!-- Creating the submit button -->
    <label>Course: </label>
    <input type="text" placeholder="Course" name="course"><br><br>

    
    <button>Submit</button>
</form>