
<header class="site-header">
    <div class="site-identity">
        <h1 style="color:#991466;">welcome Back</h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/getData">Show Data</a></li>
            <li><a href="/openForm">Add New Data</a></li>
            <li><a href="/getDataToBeUpdated">Update Data</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/login">Login</a></li>

            <li><a href="/registrationForm">user registration</a></li>   
            <li><a href="/registrationForm">admin registration</a></li> 
        </ul>
    </nav>
</header>