<h1> Welcome </h1>

<li><a href ='/getData'>showData</a><br></li>
<li><a href = '/login'> Logout</a></li>
<form method = 'POST' action = '/dropData' >

    <label for="Address">Choose Address:</label>
    <select name="Address" id="Address">
      <option value="deori">deori</option>
      <option value="rachnanagar">rachnanagar</option>
      <option value="vijaynagar">vijaynagar</option>
      <option value="whitefield">whitefield</option>
      <option value="3211main"> 3211main</option>
      <option value="subhashnagar">subhashnagar</option>
      <option value="211city"> 211city</option>
      <option value="ramcolony"> ramcolony</option>
      <option value="gotamnagar">gotamnagar</option>
      <option value="123colony">123colony</option>
      <option value="623city">623city</option>
    </select>
    <br>
 

 
    <label for="City">Choose City</label>
    <select name="City" id="City">
      <option value="bihar">bihar</option>
      <option value="banglore">banglore</option>
      <option value="pune">pune</option>
    </select>
    <br>
    
 
    <button>Submit</button>
</form>